.radioGroup {
  width: 60%;
  margin-bottom: 2rem;
}

.infoTilBehandlerOgPasient {
  margin-bottom: 4rem;
}

.feiloppsummering {
  margin-bottom: 2rem;
}

.cancel {
  margin-left: 2rem;
}

.submitSpinner {
  position: absolute;
  right: 16px;
}
