.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 4.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #c6c2bf;
}

.navbar__left {
  display: flex;
  align-items: center;
}

.navlogo {
  height: 2.5rem;
  margin-right: 1rem;
}
