.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;
  min-height: 4rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-bottom: 1px solid #c6c2bf;
}

.navbar__element--margin-left {
  margin-left: 0.5rem;
}
