@import '../basic';

.progresjon {
    padding-left: 0.3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    .progresjon__ikon {
        margin-right: 0.5rem;
        justify-content: flex-start;
    }
    .progresjon__tekst {
        color: @navMorkGra;
        justify-content: flex-start;
    }
}