@import '../basic';

.arbeidsgiver-sykmelder {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 0.4rem;
}

.sykmelding {
    border: 0.08rem solid @navGra40;
    border-radius: 0.2rem; 
    padding: 1.5rem;

    .sykmelding__tittel {
        margin-top:0.5rem;
        margin-bottom:2rem;
    }

    .sykmelding__element {
        
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
}
