@import '../basic';

.sm-container {
    border: 0.08rem solid @navGra40;
    border-radius: 0.2rem; 
    padding: 1.5rem;

    .sm-container-item {
        list-style-type: none;
        margin-top: 0.7rem;
        margin-bottom: 0.7rem;
    }
}