@import '../basic';

.spinner {
    margin: 1rem;
}

.sykmeldingWrapper {
    margin: 1rem;
    width: 40rem;

    .panelTittelContainer {
        display: flex;
        align-items: center;
        h1, h2 {
            margin: 0;
        }
        .alertImage {
            margin-right: 0.5em;
        }
    }

    .arbgiver-sykmelder {
        margin-top: 2em;
        margin-bottom: 1.5em;
        margin-left: 0.4em;
    }
}