@import '../basic';

.spinner {
    margin: 1rem;
}

.sykmeldingWrapper {
    margin: 1rem;
    width: 40rem;
    border-left: 0.3rem solid @navOransje;
    border-radius: 0.2rem;

    .panelTittelContainer {
        display: flex;
        align-items: center;

        .alertImage {
            margin-right: 0.5em;
        }
    }

    .arbgiver-sykmelder {
        margin-top: 2em;
        margin-bottom: 1.5em;
        margin-left: 0.4em;
    }
}