@import './basic';

html {
    background-color: @grayBackground;
}

.liste {
    padding: 0;
}

.spinner {
    margin: 1rem;
}

.ekspanderbartpanel {
    margin: 1rem;
    width: 45rem;
    border-left: 0.3rem solid @navOransje;
    border-radius: 0.2rem;
}

.ekspanderbartpanel__header {
    display: flex;
    align-items: center;

    .ekspanderbartpanel__ikon {
        margin-right: 0.5rem;
    }
}