@import '../node_modules/nav-frontend-core/less/_variabler.less';

body {
  padding: 0;
  margin: 0;
  background-color: @navLysGra;
}

.app {
  display: flex;
  justify-content: center;
  margin-bottom: 30rem;
}

ul {
  margin: 0;
  padding-left: 1rem;
}
